.e-sign-in {
  border-radius: 4px;
  border: 1px solid;
  background-color: #fff;
  overflow: hidden;
  color: #303133;
  transition: .3s;

  #e-sign-in-logo {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  #e-username-or-email {

  }
  #e-password {

  }
}
