@import "../partials/color";

.e-sign-in-show {
  display: block;
  transition: 500ms;
  opacity: 1;
  z-index: 999;
  position: fixed;
  top: 10%;
  left: 50%;
  width: 500px;
  height: 300px;
  background: $info-blog-text-color;

  &__active {
    transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0;
  }
}



