$tex-color: #ffffff;
$link-color: #4d90fe;
$info-blog-text-color: #20c4d3;
$navbar-background-color: #262626;
$search-background-color: #2371b7;
$main-content-background-color: #272727;
$content-dashed-color: #363636;
$tag-color: #999999;
$posted-color: #2b2b2b;
$posted-header-title-color: #FFFFFF;