@import "color";

@mixin hoverNavBar {
  color: $tex-color;
  background: url("../../../images/background_navbar_right.jpg") no-repeat top right;
}

@mixin hoverSpan {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 33px;
  background: url("../../../images/background_navbar_left.jpg") no-repeat;
}

@mixin singInSignUpButtonStyle($fontSize) {
  /** Font Style **/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-size: $fontSize;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.30) 0 -1.25px 0;

  /** Button Style **/
  display: -moz-inline-stack;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  vertical-align: auto;
  zoom: 1;
  margin-top: 30px;
  margin-bottom: 0px;
  background: none;
  padding: 10px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
}

@mixin singInSignUpButtonActive {
  border-color: #083559;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
  box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}

@mixin singInSignUpButtonHover {
  cursor: pointer;
  background-color: $search-background-color;
}

@mixin hoverLink {
  cursor: pointer;
  color: $tex-color;
}

@mixin postImageStyle($postImageWidth, $postImageHeight, $postImageBorderSize) {
  width: $postImageWidth;
  height: $postImageHeight;
  border: $postImageBorderSize solid $tex-color;
  float: left;
}

@mixin postTitleStyle {
  color: $posted-header-title-color;
  font-weight: normal;
  text-decoration: none;
}