@import "../partials/color";
@import "../partials/mixin";

#e-header {
  width: 1024px;
  padding: 0;
  margin: 0 auto 20px auto;
}

#e-site-title {
  float: left;
  width: 500px;
  height: 160px;
  font-family: Georgia, "Times New Roman", Times, serif;

  a {
    display: block;
    width: 250px;
    height: 30px;
    margin: 0;
    padding-top: 170px;
    padding-left: 170px;
    font-size: 14px;
    color: $info-blog-text-color;
    text-decoration: none;
    background: url("../../../images/logo.png") no-repeat top left;
  }
}

#e-header-right {
  float: right;
  width: 260px;
  padding-top: 20px;
  text-align: right;

  .e-account {
    float: right;
    font-size: 15px;

    &__sigin {
      border: none;
      @include singInSignUpButtonStyle(12px);

      &:active {
        @include singInSignUpButtonActive;
      }

      &:hover {
        @include singInSignUpButtonHover;
      }
    }

    &__signup {
      border: 1px solid #13619f;
      @include singInSignUpButtonStyle(15px);


      &:active {
        @include singInSignUpButtonActive;
      }

      &:hover {
        @include singInSignUpButtonHover;
      }
    }

  }

  .e-search-box {
    float: right;
    width: 300px;
    padding: 28px 0 0 0;
    margin-top: 30px;
    display: flex;

    .e-search-input {
      color: #333;
      width: 260px;
      height: 25px;
      border: 1px solid #333;
      background: $tex-color;
      padding: 0 5px;
      font-size: 16px;
      font-weight: bold;
    }

    .e-search-button {
      float: right;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #e-icon-twitter {
    background-image: url("../../../images/icon_twitter.png");
  }

  #e-icon-rss {
    background-image: url("../../../images/icon_rss.png");
  }
}