@import "../partials/color";

#e-header {
  width: 1024px;
  padding: 0;
  margin: 0 auto 20px auto;
}

#e-site-title {
  float: left;
  width: 500px;
  height: 160px;
  font-family: Georgia, "Times New Roman", Times, serif;

  a {
    display: block;
    width: 500px;
    height: 30px;
    margin: 0;
    padding-top: 150px;
    padding-left: 170px;
    font-size: 14px;
    color: $info-blog-text-color;
    text-decoration: none;
    background: url("../../../images/logo.png") no-repeat top left;
  }
}

#e-header-right {
  float: right;
  width: 260px;
  padding-top: 30px;
  text-align: right;
}

#e-search-box {
  float: right;
  width: 260px;
  padding: 28px 0 0 0;
  margin-top: 30px;
}

#e-search-input {
  color: #333;
  width: 185px;
  height: 20px;
  border: 1px solid #333;
  background: $tex-color;
  padding: 0 5px;
}


#e-icon-twitter {
  background-image: url("../../../images/icon_twitter.png");
}

#e-icon-rss {
  background-image: url("../../../images/icon_rss.png");
}