@import "../partials/color";
@import "../partials/mixin";

#e-content-wrapper {
  clear: both;
  position: relative;
  width: 964px;
  padding: 0 30px 50px;
  margin: 0 auto;
  background: $main-content-background-color url("../../../images/background_main_content_top.jpg") no-repeat;

  .e-tm-bottom {
    position: absolute;
    width: 1024px;
    height: 60px;
    bottom: 0;
    left: 0;
    background: url("../../../images/background_main_content_bottom.jpg") no-repeat;
  }

  //Post
  #e-post-content {
    width: 650px;
    float: left;
    padding: 30px 30px 30px 0;
    border-right: 1px dashed $content-dashed-color;

    .e-post-content__box {
      clear: both;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px dashed $content-dashed-color;

      &__header {
        position: relative;
        margin-bottom: 10px;

        h2 {
          margin: 0;
          padding: 5px 0;
        }

        &__title {
          color: $posted-header-title-color;
          font-weight: normal;
          text-decoration: none;
        }

        &__tag {
          font-size: 12px;
          color: $tag-color;

          a {
            font-size: 12px;
            color: $info-blog-text-color;

            &:hover {
              @include hoverLink;
            }
          }
        }

        &__posted-date {
          position: absolute;
          font-size: 11px;
          color: $posted-color;
          top: 0;
          right: 0;
          width: 45px;
          height: 45px;
          padding: 8px 3px 0 0;
          text-align: center;
          background: url("../../../images/background_date.jpg") no-repeat;

          strong {
            display: block;
            margin-top: 5px;
            font-weight: bold;
          }
        }
      }

      &__short-content {
        float: right;
        width: 500px;

        &__go-post {
          display: block;
          margin-top: 15px;
          padding: 3px 0 0 25px;
          background: url("../../../images/go_post_icon.jpg") no-repeat bottom left;

          a {
            color: $info-blog-text-color;

            &:hover {
              @include hoverLink;
            }
          }
        }
      }
    }
  }

  //Side bar
  #e-side-bar {
    float: right;
    width: 280px;

    .e-side-bar-box {
      clear: both;

      h3 {
        width: 190px;
        height: 38px;
        margin: 0;
        padding: 42px 0 0 90px;
        color: $tex-color;
        background: url("../../../images/background_sidebar_header.png") no-repeat left top;
      }

      &__content {

      }
    }
  }
}