body {
    margin: 0;
    padding: 0;
    color: #b9b9b9;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    background-color: #ccc;
    background-image: url("assets /images/background_image_body.jpg");
    background-repeat: repeat;
}

a, a:link, a:visited {
    color: #da9d0c;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: #99FF00;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 5px 0;
    color: #9b9b9b;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 10px 0 15px 0;
    color: #fff;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 15px 0;
    padding-top: 0;
    padding-bottom: 10px;
}

h4 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;;
}

h5 {
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 0;
}

h6 {
    font-size: 14px;
    margin: 0 0 5px 0;
    padding: 0;
}